
// Colors

$main_color: #C81F19; // Your main color

// Margin & Padding
$base-margin: 0.75rem;
$base-padding: 0.75rem;

// Font Sizes
$base-font: "Poppins", sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;

// Borders

$base-border-thickness: 1px;
$base-border-radius: 20px;

// Box Shadow
$base-box-shadow: 2px 3px 7px rgba(0,0,0,0.4);