@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/lemonmilk');
@import url('http://fonts.cdnfonts.com/css/kruda');

$lato: "Lato", sans-serif;
$lemon-milk: "Lemon/Milk", sans-serif;
$lemon-milk-light: "Lemon/Milk light", sans-serif;
$kruda: "Kruda", sans-serif;

$fonts: (
        "font-family": (
                "prefix": "font",
                "values": (
                        "poppins": $base-font,
                        "lato": $lato,
                        "lemon-milk": $lemon-milk,
                        "lemon-milk-light": $lemon-milk-light,
                        "kruda": $kruda
                )
        ),
        "font-weigth": (
                "prefix": "font-weigth",
                "values": (
                        "100": 100,
                        "200": 200,
                        "300": 300,
                        "400": 400,
                        "500": 500,
                        "600": 600,
                        "700": 700,
                        "800": 800,
                        "900": 900
                )
        )
);

@for $i from 0 through 9 {
        .fs-#{$i} {
                font-size: calc(1rem + #{$i*0.25}rem);
        }
}

@include genMap($fonts);